@tailwind base;
@tailwind components;
@tailwind utilities;

 body{
  background: #102e29;
}

#circle{
  border-radius: 50%;
}
.costom-animate{
  top:50px;
  transform: translate(50%);
}
.shapebox{
  bottom:-70px;
}
